@nmodules: '../node_modules';

/**
 * Dependencies.
 */
@import '@{nmodules}/bootstrap/less/bootstrap';
@import '@{nmodules}/font-awesome/less/font-awesome';

/**
 * Elements.
 */

@import 'elements/forms';
@import 'elements/tables';
@import 'elements/navbar';
@import 'elements/alerts';
@import 'elements/modals';
@import 'elements/buttons';
@import 'elements/spinner';
@import 'elements/sweet-alert';
@import 'elements/owl-carousel';

/**
 * Components.
 */

@import 'components/game/main';
@import 'components/game/join';
@import 'components/splash-screen';

/**
 * Variables.
 */
@body-bg: #f8f8f8;
@font-family-base: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/**
 * Misc.
 */

[v-cloak] {
    display: none;
}

.loading-app {
    .spinner {
        top: 40%;
        left: 50%;
        width: 60px;
        height: 60px;
        position: fixed;
    }
}

.page-header {
    margin-top: 0px;
}

.page-content {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

@media (max-width: 768px) {
    .container {
        padding: 0px;
    }
}
