@nmodules: '../node_modules';

/**
 * Dependencies.
 */
@import '@{nmodules}/bootstrap/less/bootstrap';
@import '@{nmodules}/font-awesome/less/font-awesome';

/**
 * Elements.
 */

@import 'elements/forms';
@import 'elements/navbar';
@import 'elements/alerts';
@import 'elements/modals';
@import 'elements/buttons';
@import 'elements/spinner';
@import 'elements/sweet-alert';

/**
 * Components.
 */

@import 'components/game/main';
@import 'components/splash-screen';

/**
 * Variables.
 */
@body-bg: #f8f8f8;
@font-family-base: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/**
 * Misc.
 */

[v-cloak] {
    display: none;
}

html, body, #app {
    height: 100%;
}

.loading-app {
    .spinner {
        top: 40%;
        left: 50%;
        width: 60px;
        height: 60px;
        position: fixed;
    }
}
