@import 'piece';
@import 'player-hand';

.game-board {
    background-color: #f3f3f3;
}

.game-board-inner {
    padding: 30px;
    height: 100vh;
}

.game-opponents {
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    margin: auto;
    padding: 10px;
    position: absolute;
    max-width: 500px;
    text-align: center;
}

.game-opponent {
    margin: 0 15px;
    display: inline-block;
}

.game-opponent-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.game-opponent-cards {
    // position: absolute;
}

.game-opponent-cards-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url('../img/cards.png') no-repeat;
}

.game-opponent-active {
    color: red;
}
