@import 'piece';

.game-board {
    padding: 30px;
    height: 100vh;
    background-color: #f3f3f3;
}

.player-hand {
    position: absolute;
    padding: 15px;
    height: 70px;
    width: 30%;
    min-width: 400px;
    z-index: 50;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(99, 114, 133);
}

.player-piece {
    width: 50px;
    height: 100px;
    bottom: 50px;
    float: left;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;

    &:hover {
        bottom: 70px;
    }

    .piece-content {
        background-image: url('../img/player-bones.png');
        background-size: 420px;
        background-position: 2px 5px;
    }
}
