body
{
    padding: 30px;
    background-color: #fcfcfc;
}

.outer-div
{
    padding: 30px;
    background-color: #f3f3f3;
    height: 100vh;
}

.piece {
    width: 160px;
    height: 80px;
    border-radius: 3px;
    position: absolute;
}

.center
{
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.right {
    right: 100%;
}

.left {
    right: 100%;
}
.switch {
    transform: rotate(90deg);

    &.right-vertical {
        left: 75%;
    }

    &.left-vertical {
        left: -75%;
    }

    &.right-horizontal {
        top: -150%;
    }

    &.left-horizontal {
        top: 150%;
    }
}

.piece-content {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 90%;
    background-color: #ccc;
}

@media screen and (max-width: 768px) {
    .piece {
        width: 100px;
        height: 50px;
    }
}
