<div style="height: 100%;">
    <div class="splash-screen">
        <div class="splash-screen-overlay">
            <div class="container">
                <div class="splash-screen-content">
                    <div class="splash-screen-logo">
                        <img src="dist/img/logo_test.png">
                    </div>

                    <header>Domino<span>X</span></header>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <button :disabled="!online" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
                                    <i class="fa fa-users"></i>
                                    Muliplayer
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-success btn-lg" v-link="{name: 'singleplayer'}">
                                    <i class="fa fa-user"></i>
                                    Singleplayer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <login-modal></login-modal>
    </div>
    <style>
        html, body, #app {
            height: 100%;
        }
    </style>
</div>
