<div class="game-join">
    <div class="container" v-if="game">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 card-head card-2">
                <h2>
                    <div class="game-name pull-left">[{{ game.name }}] </div>- Waiting for players ...
                    <div class="pull-right label label-success">[{{ game.joined }} / {{ game.players }}]</div>
                    <div class="clearfix"></div>
                </h2>
            </div>

            <div class="col-md-8 col-md-offset-2 card-content card-2">

                <button @click="leave" type="button" class="close game-join-close" title="Leave game">&times;</button>
                <ul>
                    <li v-for="user in game.users" class="card card-2">
                        <img :src="user.avatar">
                        {{ user.name }}
                    </li>
                </ul>

                <div class="text-center" style="margin-top: 20px;">
                    <button @click="invite" type="button" class="btn btn-success">Invite Friends</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="invite-friends-modal" data-animation="pop" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Invite friends</h4>
                </div>

                <div class="modal-body">
                    <ul style="padding: 0;">
                        <li v-for="user in friends">
                            <img :src="user.avatar" style="width: 50px;">
                            {{ user.name }}
                            <button @click="inviteFriend(user)" type="button" class="btn btn-success">Invite</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
