<div class="game-join">
    <div class="container" v-if="game">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 card-head card-2">
                <h2>
                    <div class="game-name pull-left">[{{ game.name }}] </div>- Waiting for players ...
                    <div class="pull-right label label-success">[{{ game.joined }} / {{ game.players }}]</div>
                    <div class="clearfix"></div>
                </h2>
            </div>

            <div class="col-md-8 col-md-offset-2 card-content card-2">

                <button @click="leave" type="button" class="close game-join-close" title="Leave game">&times;</button>
                <h4></h4>

                <ul>
                    <li v-for="user in game.users" class="card card-2">
                        <img :src="user.avatar">
                        {{ user.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
