<div class="player-hand" :class="{'player-hand-active': active}">
    <i class="prev pull-left fa fa-arrow-circle-left" ></i>
    <div class="player-hand-inner">
        <ul>
            <li v-for="piece in pieces"
                transition="fade"
                class="player-piece"
                :class="{'piece-disabled': piece.disabled }"
                @mousedown="select(piece)">
                <div class="piece-content piece-{{piece.first}}-{{piece.second}}"></div>
            </li>
        </ul>
    </div>

    <i class="next pull-right fa fa-arrow-circle-right"></i>
</div>
