<div>
    <div class="game-screen" v-if="game">
        <div class="game-opponents">
            <div v-for="player in opponents" class="game-opponent"
                :class="{'game-opponent-active': player.id == currentPlayer}">
                <div class="game-opponent-cards">
                    <div class="game-opponent-cards-icon"></div>
                    <div class="game-opponent-cards-remaining">6</div>
                </div>
                <img class="game-opponent-image" :src="player.avatar">
                <div>{{ player.name }}</div>
            </div>
        </div>

        <boneyard :pieces="game.yard_count" :disable="boneyardDisabed"></boneyard>

        <player-hand
            :pieces="playerPieces"
            :on-drag-start="onDragStart"
            :on-drag-stop="onDragStop"
            :disable="playerDisabled"
        ></player-hand>

        <div class="game-board">
            <div class="game-board-inner">
                <bone :piece="root"></bone>
            </div>
        </div>
    </div>
</div>
