<div>
    <div class="game-screen" v-if="game">
        <!-- <button @click="leave" type="button" class="close game-close" title="Leave game">&times;</button> -->

        <div class="game-opponents">
            <div v-for="player in opponents" class="game-opponent"
                :class="{'game-opponent-active': player.id == currentPlayer}">
                <div class="game-opponent-container">
                    <img class="game-opponent-image" :src="player.avatar">
                    <div class="game-opponent-points">
                        <i class="fa fa-product-hunt"></i> {{ player.points }}
                    </div>
                    <br>
                    <div class="game-opponent-cards">
                        <i class="fa fa-delicious"></i> {{ player.pieces }}
                    </div>
                    <span class="clear"></span>
                </div>
            </div>
        </div>

        <boneyard :pieces="game.yard_count" :disable="boneyardDisabed"></boneyard>

        <div class="game-board">
            <div class="game-board-inner" v-if="root">
                <bone :piece="root"></bone>
            </div>
        </div>

        <player-hand
            :pieces="playerPieces"
            :on-drag-start="onDragStart"
            :on-drag-stop="onDragStop"
            :disable="playerDisabled"
            :active="playerActive"
        ></player-hand>
    </div>
</div>
