.splash-screen {
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;

    .col-md-4:not(:last-child) {
        margin-bottom: 10px;
    }
}

.splash-screen-overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.splash-screen-content {
    max-width: 360px;
    text-align: center;
    margin: 80px auto 20px;

    header {
        color: #fff;
        font-size: 60px;
        margin-bottom: 30px;
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }

    button {
        font-size: 20px;
        margin-bottom: 20px;
        border-width: 2px;
        border-color: #FFFFFF;
        background-color: transparent;
        transition: color 0.15s linear, background-color 0.15s linear;

        &:hover, &:focus, &:active, &:active:focus {
            outline: none;
            color: #000;
            border-color: #fff;
            background-color: #fff;
        }
    }
}

.splash-screen-logo {
    margin-bottom: 20px;

    img {
        width: 200px;
        height: 200px;
    }
}

.splash-screen-connect {
    color: #fff;
    height: 40px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    border-radius: 2px;
    padding: 3px 0 0 10px;

    .fa {
        width: 20px;
        margin-right: 14px;
    }

    &.facebook {
        background: #3b5998;
    }

    &.google-plus {
        background: #d34836;
    }

    &.twitter {
        background: #00aced;
    }
}

.splash-screen .alert {
    margin: 20px 0 -15px;
}
